.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.link {
  width: 100%;
  text-align: left;

  & span {
    margin-left: 10px;
  }
}
